* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

p {
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #212121; }

h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #616161;
  font-weight: 100; }

span {
  color: #616161;
  font-style: italic; }

section {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.btnSection {
  border: none;
  background-color: #212121;
  color: #fff;
  font-size: 1rem;
  padding: 8px 14px;
  width: 80px;
  height: 40px;
  align-self: flex-end;
  cursor: pointer; }

.btnSection:hover {
  background-color: #BDBDBD;
  color: #212121;
  transition: 0.3s;
  min-width: 40px; }

  .btnMenu {
    width: 30px;
    height: 25px;
    border: none;
    background: none;
    background-image: url(../imagens/menu-hamburguer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer}

.btnMenu_close {
  margin: 25px 26px;
  fill: #E0E0E0;
 }

@media screen and (min-width: 700px) {
  #btnMenu_open {
    display: none; } }
.page-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 26px;
  position: fixed;
  width: 100%;
  box-shadow: 1px 0 4px #616161;
  background-color: #fff;
  z-index: 2;
  top: 0; }
  .page-head h1 {
    font-family: 'Tangerine', sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
    color: #616161; }

.navegation ul {
  display: flex;
  overflow: auto; }
.navegation a {
  padding-right: 40px;
  color: #212121;
  display: block; }
.navegation a:hover {
  color: #BDBDBD; }

@media screen and (max-width: 700px) {
  .navegation {
    display: none; } }
.navegationMob {
  z-index: 2;
  width: 70%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s; }
  .navegationMob a {
    display: block;
    width: 100%;
    padding: 20px 26px;
    border-top: 1px solid #E0E0E0;
    color: #616161;
    transition: 0.5s; }
  .navegationMob a:hover {
    background-color: #E0E0E0; }
  .navegationMob .lastA {
    border-bottom: 1px solid #E0E0E0; }
  .navegationMob .socialIcons {
    padding: 20px 26px;
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .navegationMob .socialIcons a {
      color: #616161;
      font-size: 1.5rem;
      border: none;
      background: none;
      padding: 0;
      text-align: center;
      width: 40px;
      cursor: pointer; }
    .navegationMob .socialIcons .a:hover {
      background: none; }

.navegation_open {
  transform: translatex(0); }

@media screen and (min-width: 700px) {
  .navegationMob {
    display: none; } }
.container-contact {
  position: relative;
  top: 90px;
  display: flex;
  justify-content: center;
  align-items: center; }

section h1 {
  text-transform: uppercase;
  font-weight: 100;
  color: #616161; }

.form {
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.input-field {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
  position: relative; }
  .input-field button {
    position: absolute;
    bottom: -40px;
    right: 0; }
  .input-field input {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    box-shadow: 0 1px 0 #BDBDBD;
    width: 300px;
    padding: 10px 0;
    transition: 0.3s; }
  .input-field input:focus {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 #616161;
    color: #616161; }
  .input-field input:required:valid {
    color: #81C784;
    border-bottom: 1px solid #81C784; }
  .input-field input:required:focus:invalid {
    color: #E57373;
    border-bottom: 1px solid #E57373; }
  .input-field label {
    font-size: 10pt;
    color: #BDBDBD;
    margin-top: 10px;
    position: relative;
    top: -60px;
    font-weight: 400; }
  .input-field label:focus {
    color: #616161; }

@media screen and (min-width: 1020px) {
  form {
    width: 750px; } }

/*# sourceMappingURL=contact.css.map */
