form {
    display: flex;
    margin: 40px 0;
    flex-direction: column;
    width:50%;
}
input {
    padding: 10px 10px;
}
input:nth-of-type(3) {
    margin-top: 40px;
}
.button-form {
    margin-top: 30px;
    width: 100px;
}