@import 'colors';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
p {
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $primary-color-dark;
}
h3 {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}
span {
    color: $dark;
    font-style: italic;
}
section {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnSection {
    border: none;
    background-color: $primary-color-dark;
    color: #fff;
    font-size: 1rem;
    padding: 8px 14px;
    align-self: flex-end;
    cursor: pointer;
}
.btnSection:hover {
    background-color: $gray;
    color: $primary-color-dark;
    transition: 0.3s;
    min-width: 40px;
}