@import '../colors.scss';

.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $modal-color-background;
    .modal {
        text-align: center;
        background-color:  $light;
        padding: 50px;
        position: relative;
        box-shadow: 0 4px 4px $primary-color-dark;
        transition: 0.5s;
        animation: modal 0.5s;

        .text-modal {
            color: $modal-color-background;
            font-size: 4rem;
            font-weight: 400;
        }
        p.toExit {
            margin-top: 15px;
            color: $modal-color-background;
        }
    }
}
.sub {
    margin-top: 60px;
    font-size: 3rem !important;
}
.closeModal {
    display: none;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translateY(-60px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}