@import '../colors';
.fa-bars {
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.btnMenu_open {
    color: $dark;
}
.btnMenu_close {
    padding: 20px 26px; //mesmo padding do page-head
    color: $light;
    transform: translateX(-100)
}
@media screen and (min-width: 700px) {
    #btnMenu_open {
        display: none;
    }
}