.page-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 26px;
    position: fixed;
    width: 100%;
    box-shadow: 1px 0 4px $dark;
    background-color: $white;
    z-index: 2;
    top: 0;
    h1 {
        font-family: 'Tangerine', sans-serif;
        font-size: 2.5rem;
        font-weight: 100;
        color: $dark;
    }
}
.navegation {
     ul {
         display: flex;
         overflow: auto;
     }
     a {
        padding-right: 40px;
        color: $primary-color-dark;
        display: block;
        }
     a:hover {
         color: $primary-color-light;
     }

}
@media screen and (max-width: 700px) {
    .navegation {
        display: none;
    }
}